.bg-custom {
    background-image: url('../docs/images/redcharlie-bg-image.png');
    background-size: cover;  /* Cover the entire element */
    background-repeat: no-repeat;  /* Do not repeat the image */
    background-position: center;  /* Center the image */
}



@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";